<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.android">

    <application
        android:name="com.study.android.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaStudy">
        <activity
            android:name="com.study.android.activity.MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.study.android.event.TestEventActivity"
            android:exported="true" />
        <activity
            android:name="com.study.android.event.TestEventActivity2"
            android:exported="true" />
        <activity
            android:name="com.study.android.handler.HandlerActivity"
            android:exported="true"
            android:label="Handler简单用法" />
        <activity
            android:name="com.study.android.handler.HandlerActivity2"
            android:exported="true"
            android:label="HandlerThread和Thread区别" />
        <activity
            android:name="com.study.android.handler.LeakHandlerActivity"
            android:exported="true"
            android:label="LeakHandlerActivity" />
        <activity
            android:name="com.study.android.anr.ANRActivity"
            android:exported="true"
            android:label="ANRActivity" />

        <service
            android:name="com.study.android.anr.ANRService"
            android:exported="true"
            android:label="anr_service"
            android:priority="1000" />

        <service
            android:name="com.study.android.anr.MyService"
            android:exported="true"
            android:label="my_service"
            android:priority="1000" />

        <receiver android:name=".anr.ANRReceiver">
            <intent-filter>
                <action android:name="com.study.android.anr.Action" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.study.android.communicate.ThreadCommunicateActivity"
            android:exported="true"
            android:label="ANRActivity" />

        <activity
            android:name="com.study.android.communicate.RemoteActivity"
            android:exported="true"
            android:label="RemoteActivity"
            android:process=":remote" />

        <service
            android:name="com.study.android.communicate.RemoteService"
            android:exported="true"
            android:label="RemoteService"
            android:priority="1000"
            android:process=":remote" />
    </application>

</manifest>