<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.android">

    <application
        android:name="com.study.android.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaStudy">
        <activity
            android:name="com.study.android.activity.MainActivity"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.study.android.lifecycle.ActivityA"
            android:exported="true" />
        <activity
            android:name="com.study.android.lifecycle.ActivityB"
            android:exported="true"
            android:launchMode="standard"
            android:taskAffinity="ljz.xxx.uuuu">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.test.b" />
                <data
                    android:host="www.ljz.com"
                    android:scheme="xxx" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.study.android.lifecycle.ActivityC"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Dialog" />

        <activity
            android:name="com.study.android.service.TestServiceActivity"
            android:exported="true" />

        <activity
            android:name="com.study.android.receiver.TestBroadcastActivity"
            android:exported="true" />

        <activity
            android:name="com.study.android.customview.TestCustomViewActivity"
            android:exported="true" />

        <activity
            android:name="com.study.android.videoview.TestSurfaceViewActivity"
            android:exported="true" />

        <activity
            android:name="com.study.android.videoview.TestVideoViewActivity"
            android:exported="true" />

        <activity
            android:name="com.study.android.videoview.TestDealBitmapActivity"
            android:exported="true" />

        <service android:name="com.study.android.service.TestService" />

        <activity
            android:name="com.study.android.communicate.ProcessComActivity"
            android:exported="true" />
        <activity
            android:name="com.study.android.event.TestEventActivity"
            android:exported="true" />
        <activity
            android:name="com.study.android.event.TestEventActivity2"
            android:exported="true" />
        <activity
            android:name="com.study.android.handler.SyncBarrierActivity"
            android:exported="true"
            android:label="Handler同步屏障验证" />
        <activity
            android:name="com.study.android.handler.HandlerActivity"
            android:exported="true"
            android:label="Handler简单用法" />
        <activity
            android:name="com.study.android.handler.HandlerActivity2"
            android:exported="true"
            android:label="HandlerThread和Thread区别" />
        <activity
            android:name="com.study.android.handler.HandlerActivity3"
            android:exported="true"
            android:label="Handler延迟消息的分析" />
        <activity
            android:name="com.study.android.handler.LeakHandlerActivity"
            android:exported="true"
            android:label="LeakHandlerActivity" />
        <activity
            android:name="com.study.android.anr.ANRActivity"
            android:exported="true"
            android:label="ANRActivity" />

        <service
            android:name="com.study.android.anr.ANRService"
            android:exported="true"
            android:label="anr_service"
            android:priority="1000" />

        <service
            android:name="com.study.android.anr.MyService"
            android:exported="true"
            android:label="my_service"
            android:priority="1000" />

        <receiver android:name=".anr.ANRReceiver">
            <intent-filter>
                <action android:name="com.study.android.anr.Action" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.study.android.communicate.ThreadCommunicateActivity"
            android:exported="true"
            android:label="ANRActivity" />

        <activity
            android:name="com.study.android.communicate.RemoteActivity"
            android:exported="true"
            android:label="RemoteActivity"
            android:process=":remote" />

        <service
            android:name="com.study.android.communicate.RemoteService"
            android:exported="true"
            android:label="RemoteService"
            android:priority="1000"
            android:process=":remote" />

        <!-- 验证Fragment切换生命周期 -->
        <activity
            android:name=".testfrag.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".testfrag.viewpager.ViewPagerActivity" />
        <activity android:name=".testfrag.ShowActivity" />
        <activity android:name=".testfrag.ReplaceActivity" />
        <activity android:name=".testfrag.OtherShowActivity" />
        <activity android:name=".testfrag.AttachActivity" />
        <activity android:name=".testfrag.SingleActivity" />
    </application>

</manifest>